.logo-icon {
    font-size: 2rem;
    vertical-align: middle;
    line-height: 1; 
    height: auto; 
}

.circle-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 25px;
  line-height: 40px;
  font-family: roboto, arial;
  color: white;
  text-align: center;
}

// Asegurar que el router-outlet y sus componentes ocupen toda la altura
router-outlet {
  display: none;
}

router-outlet + * {
  display: block;
  height: 100%;
  width: 100%;
}