.center {
  position: absolute;
  top: 15%;
}
.fondo {
  background-color:  rgba(4, 32, 68);
  height: 100vh;
  z-index: 0;
}

.content {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.logo-icon {
    font-size: 3rem;
    color: var(--bs-primary);
  }
  

.overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, transparent 30%, rgba(0, 0, 0, 0.9) 100%);
   background-size: cover;
}
